body, html {
  width: 100%;
  height: 100%;
  background-color: #0D1313;
  color: #B4AA97;
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-moz-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  visibility: hidden;
  display: none;
}

.shown {
  visibility: visible;
  display: block;
}

.overshown {
  overflow-y: scroll;
}

.overhidden {
  overflow: hidden;
}

.backgroundfix {
  background-attachment: fixed !important;
}

.center {
  align-self: center;
  align-items: center;
  text-align: center;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa
}

/*____________________________________________________________________________________*/
/* Header */
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

header.gameMasthead {
  padding-top: 8rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (max-width: 719px) {
  header.gameMasthead {
    height: auto;
  }
  header.testHeader {
    height: auto;
  }
}

header .textbox {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQYV2PkFRb+xYAGGGkgCABebgXnHnM+YQAAAABJRU5ErkJggg==") repeat;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px;
}

@media (max-width: 719px) {
  header h2 {
    font-size: 38px
  }
}

header.masthead p {
  font-weight: 300;
  font-size: 18px;
  color: #B4AA97;
}

@media (min-width: 719px) {
  header.gameMasthead {
    padding-top: 12rem;
  }
}

#checkBox {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

/*____________________________________________________________________________________*/
/* Check Box */
#checkBox p{
    padding: 0;
    margin: 0;
}

.checkMarkEmpty {
  height: 35px;
  background-image: url(../img/square-regular.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checkMarkFull {
  height: 35px;
  background-image: url(../img/check-square-regular.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 719px) {
  #checkBox {
    display: block
  }
}

/*____________________________________________________________________________________*/
.welcome, .contacts, .about, .poetry {
  text-align: center;
}

.poems {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.poems div {
  display: inline-block;
  vertical-align: middle;
}

/*____________________________________________________________________________________*/
/* Games First Page*/
/* Some parts from w3schools */
#gameIcon {
  margin: 25px 0;
}

#gameIcon .col-sm-4 {
  position: relative;
  width: 50%;
}

#gameIcon .col-sm-4:hover .gameOverlay {
  opacity: 1;
}

img.gameIcon {
  width: 380px;
  height: 380px;
}

.gameTitle {
  display: none;
}

.gameOverlayTitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gameOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.80);
}

@media (max-width: 719px) {
  img.gameIcon {
    width: 320px;
    height: 320px;
  }

  #gameIcon .col-sm-4 {
    position: static;
    display: block;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .gameTitle {
    display: block;
  }

  .gameOverlay {
    display: none;
  }
}

/*____________________________________________________________________________________*/
/* Individual Game Pages */
/* Laptops/Tablets width above and/or @ 719px */
@media (max-width: 719px) {
  #gameSubMenuTop {
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }

  #gameSubMenuSide {
    display: none;
  }

  #gameWikiBody {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 1000px;
  }

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 86px;
    z-index: 1020
  }
}

/* Tablets/Phones width below 719px  */
@media (min-width: 719px) {
  #gameSubMenuTop {
    display: none;
  }

  #gameSubMenuSide {
    display: flex;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }

  #gameWikiBody {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    height: 1000px;
  }

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 86px;
    z-index: 1020
  }
}

/*____________________________________________________________________________________*/
/* Poem Menu */
#mainPoems, #main, #blogNews {
  display: flex;
  min-height: calc(100vh - 40vh);
}

#mainPoems>article, #main>article, #blogNews>article {
  flex: 1;
  overflow-wrap: break-word;
}

#mainPoems>nav, #main>nav, #blogNews>nav, #mainPoems>aside, #main>aside, #blogNews>aside {
  flex: 0 0 20vw;
}

#mainPoems>nav, #main>nav, #blogNews>nav {
  order: -1;
}

header, footer, article, nav, aside {
  padding: 1em;
}

/*____________________________________________________________________________________*/
/* Number Silde */
.numberSlideTextBox {
  width: 100%;
  font-size: inherit;
}

.numberslide {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  background: #A8897D;
  transition: opacity .2s;
}

.numberslide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #833721;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.numberslide::-moz-range-thumb {
  background: #833721;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#thumb {
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 28px;
  border-radius: 25px;
  background-color: #A8897D;
  color: #0D1313;
  ;
}

@media (max-width: 719px) {
  .numberSlideTextBox {
    font-size: 18px;
  }
}

/*____________________________________________________________________________________*/
iframe {
  border: 0;
  margin: 15px;
}

hr {
  border: none;
  border-top: 5px double #A8897D;
  color: #A8897D;
  overflow: visible;
  text-align: center;
  height: 5px;
}

@media (max-width: 719px) {
  .poems div {
    display: block;
  }

  iframe {
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*____________________________________________________________________________________*/
section.welcome {
  background-color: #0D1313;
  color: #B4AA97;
  text-align: center;
}

section .dropdown-item {
  color: #A8897D;
}

/*____________________________________________________________________________________*/
/* Tech */
#tech {
  display: flex;
}

@media (min-width: 719px) {
  #techMenuTemp {
    position: fixed;
    transition: none;
    height: 100%
  }

  #techMenuTempToggle {
    display: none !important;
  }
}

#techMenuTemp {
  position: relative;
  background-color: #A8897D;
  font-family: 'Allerta Stencil', sans-serif;
  width: 100%;
  height: auto;
  padding: 0;
  color: #0D1313;
  flex: 0;
  z-index: 4;
}

#techMenuTempToggle {
  display: block;
}

#navbarCollapse {
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

#techMenuTemp a {
  color: #0D1313;
}

#techMenuTempToggle i {
  font-size: 32px;
  font-weight: 900;
  color: #0D1313;
}

#techMenuTemp .dropdown-menu {
  background-color: #A8897D;
}

#techMenuTemp .dropdown-item {
  color: #0D1313;
}

#techBody {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow-y: scroll;
}

#navLinks1, #navLinks2 {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#techBody header {
  background-color: #833721;
  color: #A8897D;
  height: auto;
  display: block;
}

.techbox {
  background-color: #0D1313;
  opacity: .90;
  width: 94.44444444444444%;
  margin: 25px 10px;
}

/*____________________________________________________________________________________*/
/* Top Menu */
nav#menuTemp {
  position: fixed;
  background-color: #A8897D;
  font-family: 'Allerta Stencil', sans-serif;
  width: 100%;
  height: auto;
  padding: 15px;
  color: #0D1313;
  z-index: 10;
}

nav#menuTemp a {
  color: #0D1313;
}

nav#menuTemp .fab {
  font-size: 32px;
  color: #0D1313;
}

nav#menuTemp .dropdown-menu {
  background-color: #A8897D;
}

nav#menuTemp .dropdown-item {
  color: #0D1313;
}

/*____________________________________________________________________________________*/
/* Buttons */
.btn {
  background-color: #0D1313;
  color: #A8897D;
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
  width: auto;
  height: auto;
  text-decoration: none;
}

.btn:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
  padding: 15px;
}

.btn.active {
  background-color: #A8897D;
  color: #0D1313;
}

.dropdown-menu {
  background-color: inherit;
}

.btn-inverted {
  background-color: #A8897D;
  color: #0D1313;
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
  width: auto;
  height: auto;
  text-decoration: none;
}

.btn-inverted:hover {
  background-color: #16181b;
  color: #f8f9fa !important;
  text-decoration: none;
  padding: 15px;
}

.btn-inverted.active {
  background-color: #0D1313;
  color: #A8897D;
}

@media (max-width: 1023px) {
  .btn {
    display: block;
  }

  #bioshockGameDropdown {
    padding: 0
  }
}

.btn:focus, .btn:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*____________________________________________________________________________________*/
/* Poems Page*/
/* Poems Menu */
#mainPoemsMenu .btn {
  background-color: #A8897D;
  color: #0D1313;
  padding: 15px;
  margin: 0;
}

#mainPoemsMenu .btn:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
  padding: 15px;
}

#mainPoemsMenu .btn.active {
  background-color: #0D1313;
  color: #A8897D;
}

/* Second Menu Poem */
#mainPoemsMenuM {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #0D1313;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
}

#mainPoemsContentM {
  position: relative;
  opacity: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  transition: 0.6s ease;
}

#mainPoemsContentM div {
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  color: #B4AA97;
  display: block;
  transition: 0.3s;
}

#buttonOpenPoemsNav {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  border: 2px solid #A8897D;
  border-radius: 25px;
}

#mainPoemsMenuM .btn.active {
  background-color: #A8897D;
  color: #0D1313;
}

#mainPoemsMenuM .btn:hover {
  background-color: #A8897D;
  color: #0D1313;
}

#navbarPagesPoems {
  color: #833721;
}

#poemsDropDown {
  background-color: #0D1313;
}

#mainPoemsBody {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 719px) {
  #mainPoemsMenu {
    z-index: 5;
  }

  #mainPoemsMenu .row {
    width: 100%;
    height: auto;
  }

  #navbarPagesPoems {
    text-align: center;
  }
}

/*____________________________________________________________________________________*/
/* Videos Page*/
.youtube-player {
  width: 560px !important;
  height: 315px !important;
}

/*____________________________________________________________________________________*/
/* Subsections */
.rowHome {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
  margin: 50px 0;
  border: 5px solid #A8897D;
}

.musicTitleBox {
  background-color: #A8897D;
  box-shadow: -1px 1px 25px 10px rgba(51%, 38%, 34%, 0.50);
}

.colHome1 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.colHome1 video {
  padding-left: 15px;
}

.rowHome div iframe {
  padding-bottom: 15px;
}

.colHome2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.colHome2 p, .colHome2 a {
  color: #833721;
  font-size: 24px;
}

@media (min-width: 719px) {
  .rowHome {
    height: 350px;
  }
}

@media (max-width: 719px) {
  .rowHome {
    display: block;
  }

  .rowHome div iframe {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .colHome1 {
    margin-left: auto !important;
    margin-right: auto !important;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }

  .colHome2 {
    margin-left: auto !important;
    margin-right: auto !important;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
}

/*____________________________________________________________________________________*/
/* Star System */
#rating-system {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#star1, #star2, #star3, #star4, #star5 {
  padding: 10px;
}

/*
 Far = Empty
 Fas = Full
*/
#star1 .far {
  visibility: visible;
  display: block
}

#star1 .fas {
  visibility: hidden;
  display: none
}

#star2 .far {
  visibility: visible;
  display: block
}

#star2 .fas {
  visibility: hidden;
  display: none
}

#star3 .far {
  visibility: visible;
  display: block
}

#star3 .fas {
  visibility: hidden;
  display: none
}

#star4 .far {
  visibility: visible;
  display: block
}

#star4 .fas {
  visibility: hidden;
  display: none
}

#star5 .far {
  visibility: visible;
  display: block
}

#star5 .fas {
  visibility: hidden;
  display: none
}

/*____________________________________________________________________________________*/
/* Some List Commands */
a {
  list-style-type: none;
  text-decoration: none;
  text-align: inherit;
  float: none;
  background-color: transparent;
}

a:hover {
  color: #B4AA97;
}

#mainPoemsMenu .icon-rap {
  background-color: #915e21;
  width: auto;
}

/*____________________________________________________________________________________*/
p {
  margin: 16px 0px;
  font-size: 16px;
  padding: 10px 0px 5px 5px;
  float: none;
  color: #B4AA97;
}

pre {
  text-align: center;
  margin: 16px 0px;
  font-size: 16px;
  padding: 10px 0px 5px 5px;
  float: none;
  color: #B4AA97;
}

ul {
  text-decoration: none;
}

.wrapword {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

/*____________________________________________________________________________________*/
/* Icon Controls */
#socialmedia {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socialmedia a {
  padding: 15px;
  margin: 10px;
  text-decoration: none;
}

@media (min-width: 719px) {
  .overlay {
    visibility: hidden;
    display: none;
    color: #0D1313;
    text-decoration: none;
  }

  #instagram, #twitter, #soundcloud {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: height 2s ease, width 2s ease, background-color 2s;
  }

  #instagram:hover, #twitter:hover, #soundcloud:hover {
    height: 250px;
    width: 250px;
    background-color: #A8897D;
  }

  #instagram:hover i, #twitter:hover i, #soundcloud:hover i {
    color: #0D1313;
  }

  #instagram:hover .overlay, #twitter:hover .overlay, #soundcloud:hover .overlay {
    visibility: visible;
    display: block;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }
}

i.fab {
  font-size: 42px;
  color: #B4AA97;
}

@media (max-width: 719px) {
  #socialmedia {
    height: auto;
  }

  i.fab {
    font-size: 36px;
  }
}

a {
  color: #A8897D;
}

a, ul, ol, li {
  text-decoration: none;
  list-style-type: none;
}

/*____________________________________________________________________________________*/
/* Text */
.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  padding: 15px;
  margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #833721;
}

.h1, h1 {
  font-size: 72px;
}

.h2, h2 {
  font-size: 60px;
}

.h3, h3 {
  font-size: 48px;
}

@media (max-width: 719px) {
  .h3, h3 {
    font-size: 34px;
  }
}

.h4, h4 {
  font-size: 36px;
}

.h5, h5 {
  font-size: 24px;
}

.h6, h6 {
  font-size: 20px;
}

.p, p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
